<?xml version="1.0"?>
<launch>
	<node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager" output="screen"/>
	<node pkg="nodelet" type="nodelet" name="struct_core_ros" args="load struct_core_ros/SCNodelet nodelet_manager"/>
	<rosparam command="load" file="$(find struct_core_ros)/launch/sc.yaml"/>
</launch>
